# dependencies
library-next/node_modules/
node_modules/

# Next.js
library-next/.next/
.next/
out/

# production
build/

# debug
npm-debug.log*

# env files
.env*.local

# Prisma
library-next/prisma/dev.db
library-next/prisma/dev.db-journal

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# uploads
library-next/public/uploads/

# misc
*.tsbuildinfo
next-env.d.ts
